URL_PATH_MAIN=http://localhost

FLASK_DEBUG=TRUE
FLASK_ENV=development
DEBUG_CONFIG=0.0.0.0:5678
VSCODE_DEBUG=TRUE

# Mongodb config
# database name from uri has priority over "db".
MONGO_URI=mongodb://mongodb:27017/demo_db
MONGO_DATABASE=demo_db

# Mysqldb config
SQLALCHEMY_DATABASE_URI=mysql+mysqldb://root:root@mysql:3306/db_main
SQLALCHEMY_DATABASE_URI_DB2=mysql+mysqldb://root:root@mysql:3306/db_second

# Set to true to see the queries on console
SQLALCHEMY_ECHO = False
SQLALCHEMY_TRACK_MODIFICATIONS = False

# SMTP email config
SMTP_ACCOUNT=587,smtp.gmail.com,some_email@gmail.com,some_password
EMAIL_FROM=Some Name