{% extends "auth/layout.html" %}

{% block main_old %}

  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <form action="" method="POST" role="form">
        <legend>Login</legend>
        <div class="form-group">
          <label for="">Email:</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="">Password:</label>
          <input type="password" name="password" id="password" class="form-control" required="required" title="">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
 
{% endblock %}

{% block main %}
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
              </div>
              {% include "auth/messages.html" %}
              <form class="user" action="" method="POST" role="form">
                <div class="form-group">
                  <input type="email" name="email" value="{{ request.form['email'] }}" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email" required="required" />
                </div>
                <div class="form-group">
                  <input type="password" name="password"  class="form-control form-control-user" placeholder="Password" required="required" />
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                <!-- <hr>
                <a href="index.html" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Login with Google
                </a>
                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                </a> -->
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="/forgot-password">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/register">Create an Account!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}